.container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 20px;
  padding: 0.25rem 1.5rem;
}

input,
textarea {
  font-size: 1.25rem;
  padding: 0.5rem;
}
textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 20px;
}

p {
  font-size: 1.25rem;
}

pre {
  font-size: 1rem;
}
code {
  font-family: ui-monospace, 'SFMono-Regular', 'SF Mono', Menlo, Consolas,
    'Liberation Mono', monospace;
  font-size: 1rem;
}

a.logo {
  color: #f43e3e;
  text-decoration: none;
  border-bottom: 1px solid rgba(244, 62, 62, 1);
}
a.logo:hover {
  border-bottom: none;
}

.result {
  width: 50%;
  min-width: 20rem;
}

.row {
  margin-top: 1rem;
}

.row label {
  display: block;
  margin-bottom: 0.5rem;
}

.row input,
.row textarea {
  display: block;
  width: 100%;
}
